*{
	margin: 0;
	border: none;
	padding: 0;
}

.top-header{
	height:650px;
	border: none;
	margin: 2px;
}
.top-menu{
	height: 100px;
	border: none;
	text-align: center;
	color: white;
	background: linear-gradient(to top, rgba(236, 5, 28, 0.671), rgb(0, 97, 153));
	line-height: 100px;
}
.top-menu a{
	color: white;
	margin-left: 20px;
	text-decoration: none;

}
.top-menu a:hover{
	text-decoration: underline;
	color: rgb(253, 192, 181);
}
.back-image{
	min-height: 550px;
	border-top: 2px solid #669999;
	background: linear-gradient(to right, rgb(32, 0, 51), rgba(47, 134, 248, 0.329));
    color: rgb(248, 246, 246);
	text-align: center;

}
.desc{
	font-size: 7vw;
	margin-top:2vw;
	
}
.company-desc{
	color: rgba(255, 255, 255, 0.705);
	font-size: 2vw;
	padding-left: 15%;
	text-align: center;
	font-family: 'Segoe UI Emoji';
}
.company-desc a{
	color: rgba(248, 153, 182, 0.89);
	text-decoration: none;
}
.company-desc a:hover{
	color: magenta;
	font-weight: bolder;
	text-decoration: underline;
}
.main-title{
	height: 270px;
}
.solution{
	font-size:2.5vw;
	font-family: 'Papyrus';
	
}
.seven{
	font-size: 20vw;
	font-family: 'Lucida calligraphy';
	font-weight: bolder;
	color :white;
}
.top-body{
    min-height: 550px;
    background: url(../images/tech1.jpg);
	background-size:  contain ;
	background-position: fixed;
	

}
.main-body{
	display: flex;
	margin: 2px;
}
.articles{
	min-height: 400px;
	width: 70%;
	padding: 1%;
	color: rgba(19, 18, 18, 0.815);
	font-family:'Segoe UI Emoji' ;
	

}
.service-header{
	text-align: center;
	margin-bottom: 3vw;
	font-size: 1vw;

}
.service-desc{
	display: flex;
	margin-bottom: 2vw;
	
}
.cons{
	width: 45%;
	text-align: left;
	margin: 5px;
	color: white;
	background: linear-gradient(to top, rgb(236, 51, 113), rgba(40, 26, 165, 0.938));
	padding: 5px;
}
.consult{
	background: rgb(15, 2, 51);
}
.software{
	background: rgb(238, 16, 53);
}
.web{
	background: rgba(64, 2, 66, 0.993);
}
.graphic{
	background: rgb(8, 60, 139);
}
.service-header h1{
	font-size: 50px;
}
.consultant{
	font-size: 1.5vw;
	padding: 6px;
	line-height: 2vw;
	font-weight: 500;
}
.cons-title{
	font-size: 2vw;
}
.contacts{
	min-height: 400px;
	width: 35%;
	padding: 2px;
	margin-top: 1vw;
	color: rgb(26, 26, 26);
	font-family:'Segoe UI Emoji' ;

}
.cont{
	text-align: left;
}
.contact-detail{
	font-weight: bolder;
	line-height: 3vw;
	font-size: 1.5vw;
}
.bottom-footer{
	min-height: 150px;
	background: rgb(2, 4, 34);
	margin: 2px;
	display: flex;
	color: rgb(209, 205, 205);
	font-family: 'Courier New', Courier, monospace;
	padding: 10px;
	text-align: center;

}
.other-links{
	width: 50%;
	display: flex;
	margin: 0 10%;
}
.footer-header{
	text-align: center;
	margin-bottom: 5px;
}
.about{
	width: 40%;
	
	margin: 0 8px;

}
.social{
	width: 60%;
	text-align: center;
	padding: 0 10px;

}
.local-links{
	width: 50%;
}
.social-contact{
	display: flex;
}
.so-links{
	line-height: 1.7vw;
}
.so-links a{
	color:rgb(206, 204, 204);
	text-decoration: none;
}
.so-links a:hover{
	color: magenta;
	cursor: pointer;
	text-decoration: underline;
}
.bullet{
	width: 10px;
	height: 10px;
	background: rgb(206, 53, 53);
	border-radius: 50%;
	margin: 17px 5px;

}
.social-link{
	color: rgba(8, 23, 92, 0.856);
	text-decoration:none;
}
.social-link:hover{
	color: magenta;
	text-decoration: underline;
}
.user-form{
	border: 1px solid rgba(88, 88, 88, 0.842);
	margin: 10px;
	width: 80%;
	text-align: center;
	border-radius: 10px;
	min-height: 300px;
	background: white;
	padding: 20px 0;
}
.user-form input{
	border-bottom: 1px solid rgb(88, 88, 88);
	padding: 8px;
	width: 70%;
	height: 40px;
}
input:focus{
	outline:none;
}
.btn{
	padding: 5px 50px;
	background: rgb(0, 81, 255);
	margin: 15px 0;
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
	
}
.message{
	min-height:50px;
	padding: 0;
}
.btn:hover{
	color: rgb(0, 81, 255);
	background: white;
	border:1px solid rgb(0, 81, 255);
	
}
.btn:focus{
	outline: none;
}
.comment-header{
	text-align: center;
	font-size: 2vw;
	display:flex;
	padding: 2% 5%;
}
.user{
	display: flex;
	padding: 5px;
}
.profile-pic{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid rgb(2, 3, 41);
}
.user-info{
	padding: 0 5px;
	font-weight: bolder;
	color: rgb(2, 3, 41);
}
.comment-detail{
	min-height:100px;
	border: 1px solid rgba(1, 8, 46, 0.76);
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
	color: rgb(20, 20, 20);
}
.comment-btn{
	margin: 0 15px;
	border: 1px solid rgb(3, 54, 221);
	font-weight: bolder;
	padding: 1px;
	font-size:2vw;
	border-radius: 10px;
	width: 40%;
	color: rgb(3, 54, 221);

}
.comment-btn:hover{
	color: white;
	background:  rgb(3, 54, 221);
	border: none;
	cursor: pointer;
}
.comment-btn:focus{
	outline: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(0, 85, 124, 0.452);
    width: 50%;
    margin-bottom:5%;
    border-radius:10px;

    
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .input{
	  width:70%;
	  padding: 5px;
	  border-bottom: 1px solid rgb(71, 71, 71);
	  margin: 5px 0;
  }
  .comment-message{
	  width: 70%;
	  min-height: 90px;
	  border: 1px solid rgb(12, 12, 12);
	  border-radius: 5px;
	  padding: 5px;
	  margin: 5px 0;
  }
  .comment-message:focus{
      outline:none;
  }
  @media screen and (max-width: 1024px){
	  .main-body{
		  display: block;
		  text-align: center;
	  }
	  .articles{
		  width: 95%;
		  text-align: center;
	  }
	  .contacts{
		  width: 95%;
	  }
	  
	  .contact-detail{
		  font-size: 3vw;
		  text-align: left;
		  line-height: 5vw;
	  }
	  .so-links{
		  line-height: 2vw;
	  }
	  .cont{
		  text-align: left;
	  }
	  .user-form input{
		  font-size: 2vw;
	  }
  }
  @media screen and (max-width: 768px){
	  .main-title{
		  height:200px;
	  }
	  .bottom-footer{
		  display: block;
	  }
	  .about{
		  width: 95%;
	  }
	  .other-links{
		  display: flex;
		  text-align: center;
		  width: 95%;
	  }
	  .consultant{
		  font-size: 2vw;
	  }
  }
  @media screen and (max-width: 650px){
	  .bullet{
		  margin: 12px 5px;
	  }
  }
  @media screen and (max-width: 600px){
	  .social{
		  width: 50%;
	  }
	  .other-links{
		  width: 95%;
	  }
	  .so-links{
		  line-height: 3vw;
	  }
	  .top-menu a{
		  margin-left: 10px;
	  }
	  .main-title{
		  height: 100px;
	  }
	  .company-desc{
		  font-size: 4vw;
	  }
	  .solution{
		  font-size: 5vw;
	  }
  }
  @media screen and (max-width: 500px){
	  .consultant{
		  font-size: 3vw;
		  line-height: 3vw;
	  }
  }
  @media screen and (max-width: 420px){
	  .so-links{
		  line-height:4vw;
	  }
	  .other-links{
		  margin: 0;
		  padding : 0;
		  font-size: 3vw;
	  }
	  .bullet{
		  margin: 5px;
	  }

  }
  @media screen and (max-width: 320px){
	  .top-menu a{
		  font-size: 4.5vw;
	  }
	  .desc{
		  margin-top: 1vw;
	  }
	  .solution{
		  font-size:5vw;
	  }
	 
  }